<html lang="en">
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
    <form action="../controller/registration_controller.php" method="post">
        <fieldset>
            <legend><h1><b>Register</b></h1></legend>
            
            <h3>Name:</h3>
            <input type="text" name="name" required><br>
            
            <h3>Email:</h3>
            <input type="email" name="email" required><br>
            
            <h3>Password:</h3>
            <input type="password" name="password" required><br>
            
            <h3>Confirm Password:</h3>
            <input type="password" name="confirm_password" required><br>
            
            <p>
                <input type="checkbox" name="agree" required>
                I agree with <a href="privacyPolicy.html" target="_blank">privacy and policy</a>
            </p>
            
            <p>Already have an account? <a href="login_view.php">Login</a></p>
            
            <input type="submit" value="Register">
        </fieldset>
    </form>

</body>
</html>
